.App {
  width: 40%;
  margin: 2em auto;
  background: #eee;
  color: rgb(0, 0, 0);
  padding-bottom: 530px;
  box-shadow: rgb(0, 0, 0) 18px 2px 23px 3px;
  -webkit-box-shadow: rgb(0, 0, 0) 18px 2px 23px 3px;
  -moz-box-shadow: rgb(0, 0, 0) 18px 2px 23px 3px;
}

.todo-header {
  padding: 1em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}

.todo-header h1 span {
  font-size: 1.5em;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-todo {
  padding: 1em;
  margin: 0 5em;
  border-bottom: 1px solid #2c3035;
}

.form-todo h2,
.list-todo h2 {
  text-align: center;
  margin-top: 10;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.form-control input {
  border: 1px solid rgb(128, 120, 120);
  border-radius: 2px;
  background-color: #f3f5f7;
  padding: 1em;
  color: #000000;
}

input[type='submit'] {
  background-color: #333;
  color: #eee;
  display: block;
  width: 100%;
  border: 1px solid rgb(221, 217, 2);
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
}

.list-todo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}

.list-todo h2 {
  margin-bottom: 0;
  color: #000000;
}

.list-todo p {
  text-align: center;
  color: #000000;
}

.todo {
  font-size: 1.1em;
  border-bottom: 1px solid #444;
  color: #000000;
  padding: 1em 0;
}

.todo h3 {
  margin-bottom: 0.5em;
}

.todo-done {
  text-decoration: line-through;
  color: rgb(144, 153, 22);
}

.todo p {
  text-align: left;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.todo svg {
  font-size: 2em;
  cursor: pointer;
  margin-right: 0.5em;
  transition: 0.5s;
}

.todo svg:hover {
  color: rgb(16, 0, 243);
}
